<section class="hero hero-fullscreen jarallax" data-speed="0.2" style="min-height: calc(100vh - 140px)">
	<div class="hero-background">
		<img src="assets/new/image-17.jpg" alt="hero background" class="jarallsax-img"/>
		<div class="herso-background-overlay" style="background-color: rgba(0,0,0,.5)"></div>
	</div>
	<div class="hero-foreground container d-flex flex-column justify-content-center">
		<div class="py-14 py-md-23 py-lg-25">
			<div class="d-flex flex-column justify-content-center align-items-center text-center">
				<h1 class="fs-10 fs-lg-11 mb-0 font-weight-bold text-white">Get Intelligent Social Media Insights</h1>
        <p class="mt-7 mb-10 text-white fs-5" style="max-width: 530px">Perform better than your competition
          with intelligent tools and reports.
        </p>
				<%= link_to "Try Versabi for Free", user_signup_path, class: "btn btn-lg btn-primary" %>

			</div>
		</div>
	</div>
</section>
<!-- main hero end -->

<!-- "about" section start -->
<section class="section" id="about">
	<div class="section-content container text-center">
		<small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
			general contractors in new york
		</small>
		<h1 class="mb-0">PROFI Contractors</h1>
		<div class="row no-gutters mt-6 mt-md-10 mt-lg-17">
			<div class="col-12 col-lg-10 offset-0 offset-lg-1">
				<p>This is a great space to write long text about your company and your services. You can use this space
					to go
					into a little more detail about your company. Talk about your team and what services you provide.
					Tell your
					visitors the story of how you came up with the idea for your business and what makes you different
					from your
					competitors. Make your company stand out and show.</p>
			</div>
		</div>
		<div class="row mt-6 mt-md-10 mt-lg-17 vertical-divider-light">
			<div class="col-12 col-md-6 col-lg-3">
				<div class="card border-0">
					<div class="card-body py-17 px-10 d-flex flex-column align-items-center">
						<div class="card-icon mb-6">
							<img src="assets/new/yelp.svg" alt="yelp icon" width="45">
						</div>
						<div class="fs-1 lh-1 mb-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
							4.5 stars on Yelp
						</div>
						<div class="star-rating">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star_half</i>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3">
				<div class="card border-0">
					<div class="card-body py-17 px-10 d-flex flex-column align-items-center">
						<div class="card-icon mb-6">
							<img src="assets/new/g.svg" alt="google icon" width="45">
						</div>
						<div class="fs-1 lh-1 mb-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
							5 stars on Yelp
						</div>
						<div class="star-rating">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3">
				<div class="card border-0">
					<div class="card-body py-17 px-10 d-flex flex-column align-items-center">
						<div class="card-icon mb-6">
							<img src="assets/new/houzz.svg" alt="houzz icon" width="45">
						</div>
						<div class="fs-1 lh-1 mb-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
							5 stars on Houzz
						</div>
						<div class="star-rating">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3">
				<div class="card border-0">
					<div class="card-body py-17 px-10 d-flex flex-column align-items-center">
						<div class="card-icon mb-6">
							<img src="assets/new/fb.svg" alt="facebook icon" width="45">
						</div>
						<div class="fs-1 lh-1 mb-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
							4.7 stars on Facebook
						</div>
						<div class="star-rating">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star_half</i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- "about" section end -->

<!-- "services" section start -->
<section class="section bg-secondary" id="services">
	<div class="section-content container">
		<div class="d-flex justify-content-center justify-content-md-between align-items-end">
			<div class="text-center text-md-left">
				<small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
					What we do the best
				</small>
				<h1>Services</h1>
			</div>
			<div class="d-none d-md-block">
				<div class="btn-group">
					<div class="radio-buttons-group border-0" data-toggle="shuffle-grid" data-target="#services-grid">
						<button class="btn btn-light selected" data-value="all">All</button>
						<button class="btn btn-light" data-value="construction">Construction</button>
						<button class="btn btn-light" data-value="design">Design</button>
					</div>
				</div>
			</div>
		</div>
		<div class="shuffle-grid shuffle-grid-gap-14 shuffle-grid-cols-1 shuffle-grid-cols-lg-2 mt-14" id="services-grid">
			<div class="shuffle-grid-item" data-groups="design">
				<div class="card border-0">
					<div class="row no-gutters">
						<div class="col-sm-4 position-relative">
							<img src="assets/new/image-18.jpg" class="img-overlay" alt="photo">
						</div>
						<div class="col-sm-8">
							<div class="card-body py-11 px-14">
								<h2 class="fs-5 fs-md-6 fs-lg-7">Kitchen Remodeling</h2>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="shuffle-grid-item" data-groups="design">
				<div class="card border-0">
					<div class="row no-gutters">
						<div class="col-sm-4 position-relative">
							<img src="assets/new/image-19.jpg" class="img-overlay" alt="photo">
						</div>
						<div class="col-sm-8">
							<div class="card-body py-11 px-14">
								<h2 class="fs-5 fs-md-6 fs-lg-7">Bathroom Remodeling</h2>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="shuffle-grid-item" data-groups="design">
				<div class="card border-0">
					<div class="row no-gutters">
						<div class="col-sm-4 position-relative">
							<img src="assets/new/image-20.jpg" class="img-overlay" alt="photo">
						</div>
						<div class="col-sm-8">
							<div class="card-body py-11 px-14">
								<h2 class="fs-5 fs-md-6 fs-lg-7">Flooring</h2>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="shuffle-grid-item" data-groups="construction,design">
				<div class="card border-0">
					<div class="row no-gutters">
						<div class="col-sm-4 position-relative">
							<img src="assets/new/image-21.jpg" class="img-overlay" alt="photo">
						</div>
						<div class="col-sm-8">
							<div class="card-body py-11 px-14">
								<h2 class="fs-5 fs-md-6 fs-lg-7">Roofing</h2>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="shuffle-grid-item" data-groups="construction">
				<div class="card border-0">
					<div class="row no-gutters">
						<div class="col-sm-4 position-relative">
							<img src="assets/new/image-22.jpg" class="img-overlay" alt="photo">
						</div>
						<div class="col-sm-8">
							<div class="card-body py-11 px-14">
								<h2 class="fs-5 fs-md-6 fs-lg-7">Windows & Doors</h2>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="shuffle-grid-item" data-groups="construction">
				<div class="card border-0">
					<div class="row no-gutters">
						<div class="col-sm-4 position-relative">
							<img src="assets/new/image-23.jpg" class="img-overlay" alt="photo">
						</div>
						<div class="col-sm-8">
							<div class="card-body py-11 px-14">
								<h2 class="fs-5 fs-md-6 fs-lg-7">Painting</h2>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mt-19 mt-lg-20 text-center">
			<a href="#" class="btn btn-lg btn-primary">Get a free estimate</a>
		</div>
	</div>
</section>
<!-- "services" section end -->

<!-- "why choose us" section start -->
<section class="section" id="why-choose-us">
	<div class="section-content text-center container">
		<h1>Why Choose Us</h1>
	</div>
	<div class="sds-block mt-14 mt-xl-20">
		<div class="sds-block-background sds-block-background-right" style="background-image: url('assets/new/image-24.jpg')"></div>
		<div class="sds-block-foreground sds-block-foreground-left text-center text-xl-left">
			<ul class="list-unstyled mb-12">
				<li class="mb-6 d-flex align-items-center justify-content-center justify-content-xl-start">
					<i class="material-icons text-primary mr-1 d-none d-sm-inline-block">check_circle</i>&nbsp;Improve brand awareness & sales</li>
				<li class="mb-6 d-flex align-items-center justify-content-center justify-content-xl-start">
					<i class="material-icons text-primary mr-1 d-none d-sm-inline-block">check_circle</i>&nbsp;Better content leads to higher engagement
				</li>
				<li class="mb-6 d-flex align-items-center justify-content-center justify-content-xl-start">
					<i class="material-icons text-primary mr-1 d-none d-sm-inline-block">check_circle</i>&nbsp;Higher reach</li>
				<li class="mb-6 d-flex align-items-center justify-content-center justify-content-xl-start">
					<i class="material-icons text-primary mr-1 d-none d-sm-inline-block">check_circle</i>&nbsp;Increased brand awareness</li>
				<li class="d-flex align-items-center justify-content-center justify-content-xl-start">
					<i class="material-icons text-primary mr-1 d-none d-sm-inline-block">check_circle</i>&nbsp;Share of voice and ultimatily sales for your company</li>
			</ul>
			<a href="#" class="btn btn-lg btn-primary">Start Free Trial</a>
		</div>
	</div>
</section>
<!-- "why choose us" section end -->

<!-- "our work" section start -->
<section class="section bg-secondary" id="our-work">
	<div class="section-content text-center container">
		<div class="d-flex justify-content-center justify-content-md-between align-items-end">
			<div class="text-center text-md-left">
				<small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
					Latest projects gallery
				</small>
				<h1>Our Work</h1>
			</div>
			<div class="d-none d-md-block">
				<div class="btn-group">
					<div class="radio-buttons-group border-0" data-toggle="shuffle-grid" data-target="#projects-grid">
						<button class="btn btn-light selected" data-value="all">All</button>
						<button class="btn btn-light" data-value="construction">Construction</button>
						<button class="btn btn-light" data-value="design">Design</button>
					</div>
				</div>
			</div>
		</div>
		<div class="shuffle-grid shuffle-grid-gap-14 shuffle-grid-cols-1 shuffle-grid-cols-md-2 shuffle-grid-cols-xl-4 mt-14" id="projects-grid">
			<div class="shuffle-grid-item" data-groups="design">
				<div class="card card-square bg-transparent border-0">
					<div class="card-bg" style="background-image: url(assets/new/image-47.jpg)"></div>
					<div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
					<div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
						<i class="material-icons fs-8">zoom_in</i>
					</div>
					<a href="#" class="card-link-overlay"></a>
				</div>
			</div>
			<div class="shuffle-grid-item" data-groups="construction">
				<div class="card card-square bg-transparent border-0">
					<div class="card-bg" style="background-image: url(assets/new/image-48.jpg)"></div>
					<div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
					<div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
						<i class="material-icons fs-8">zoom_in</i>
					</div>
					<a href="#" class="card-link-overlay"></a>
				</div>
			</div>
			<div class="shuffle-grid-item" data-groups="design">
				<div class="card card-square bg-transparent border-0">
					<div class="card-bg" style="background-image: url(assets/new/image-49.jpg)"></div>
					<div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
					<div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
						<i class="material-icons fs-8">zoom_in</i>
					</div>
					<a href="#" class="card-link-overlay"></a>
				</div>
			</div>
			<div class="shuffle-grid-item" data-groups="construction,design">
				<div class="card card-square bg-transparent border-0">
					<div class="card-bg" style="background-image: url(assets/new/image-50.jpg)"></div>
					<div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
					<div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
						<i class="material-icons fs-8">zoom_in</i>
					</div>
					<a href="#" class="card-link-overlay"></a>
				</div>
			</div>
			<div class="shuffle-grid-item" data-groups="construction,design">
				<div class="card card-square bg-transparent border-0">
					<div class="card-bg" style="background-image: url(assets/new/image-51.jpg)"></div>
					<div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
					<div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
						<i class="material-icons fs-8">zoom_in</i>
					</div>
					<a href="#" class="card-link-overlay"></a>
				</div>
			</div>
			<div class="shuffle-grid-item" data-groups="design">
				<div class="card card-square bg-transparent border-0">
					<div class="card-bg" style="background-image: url(assets/new/image-52.jpg)"></div>
					<div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
					<div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
						<i class="material-icons fs-8">zoom_in</i>
					</div>
					<a href="#" class="card-link-overlay"></a>
				</div>
			</div>
			<div class="shuffle-grid-item" data-groups="construction">
				<div class="card card-square bg-transparent border-0">
					<div class="card-bg" style="background-image: url(assets/new/image-53.jpg)"></div>
					<div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
					<div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
						<i class="material-icons fs-8">zoom_in</i>
					</div>
					<a href="#" class="card-link-overlay"></a>
				</div>
			</div>
			<div class="shuffle-grid-item" data-groups="design">
				<div class="card card-square bg-transparent border-0">
					<div class="card-bg" style="background-image: url(assets/new/image-54.jpg)"></div>
					<div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
					<div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
						<i class="material-icons fs-8">zoom_in</i>
					</div>
					<a href="#" class="card-link-overlay"></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- "our work" section end -->

<!-- "testimonials" section start -->
<section class="section" id="testimonials">
	<div class="section-content container">
		<div class="d-flex justify-content-center justify-content-sm-between align-items-center">
			<div class="text-center text-sm-left">
				<small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
					Some reviews from our clients
				</small>
				<h1>Testimonials</h1>
			</div>
			<div class="d-none d-sm-block">
				<div class="btn-group">
					<button type="button" class="btn btn-light btn-square" data-toggle="card-slider"
									data-target="#testimonials-slider" data-action="prevSlide">
						<i class="material-icons">arrow_left</i>
					</button>
					<button type="button" class="btn btn-light btn-square" data-toggle="card-slider"
									data-target="#testimonials-slider" data-action="nextSlide">
						<i class="material-icons">arrow_right</i>
					</button>
				</div>
			</div>
		</div>
		<div class="card-slider card-slider-viewport card-slider-services mt-15" id="testimonials-slider">
			<article class="card-slider-item">
				<div class="card border-light card-accent-left" data-mh="testimonials-slider">
					<div class="card-body p-19 p-md-20 d-flex flex-column">
						<div class="d-flex align-items-center">
							<img src="assets/new/yelp.svg" alt="yelp icon" width="45" class="rounded-circle"/>
							<div class="ml-9">
								<div class="text-black font-weight-medium fs-5 lh-5 mb-4">Pamela P.</div>
								<div class="text-muted fs-3 lh-4">Bathroom remodeling</div>
							</div>
						</div>
						<blockquote class="my-14">
							<p>“Rhoncus netus et tincidunt nunc pharetra rutrum natoque, libero justo enim magnis sapien
								finibus quisque dis, habitant quam ipsum luctus nisi posuere.”</p>
						</blockquote>
						<div class="star-rating">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star_half</i>
						</div>
					</div>
				</div>
			</article>
			<article class="card-slider-item">
				<div class="card border-light card-accent-left" data-mh="testimonials-slider">
					<div class="card-body p-19 p-md-20 d-flex flex-column">
						<div class="d-flex align-items-center">
							<img src="assets/new/houzz.svg" alt="houzz icon" width="45" class="rounded-circle"/>
							<div class="ml-9">
								<div class="text-black font-weight-medium fs-5 lh-5 mb-4">Tammara</div>
								<div class="text-muted fs-3 lh-4">Kitchen remodeling</div>
							</div>
						</div>
						<blockquote class="my-14">
							<p>“Feugiat condimentum lorem congue id dictum aenean nascetur varius tortor, euismod nec
								parturient ullamcorper inceptos bibendum pellentesque quisque.”</p>
						</blockquote>
						<div class="star-rating mt-auto">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star_border</i>
						</div>
					</div>
				</div>
			</article>
			<article class="card-slider-item">
				<div class="card border-light card-accent-left" data-mh="testimonials-slider">
					<div class="card-body p-19 p-md-20 d-flex flex-column">
						<div class="d-flex align-items-center">
							<img src="assets/new/fb.svg" alt="facebook icon" width="45" class="rounded-circle"/>
							<div class="ml-9">
								<div class="text-black font-weight-medium fs-5 lh-5 mb-4">David J.</div>
								<div class="text-muted fs-3 lh-4">Roofing</div>
							</div>
						</div>
						<blockquote class="my-14">
							<p>“Vel volutpat elit est dignissim diam viverra quis id, placerat et maecenas nulla nec
								nullam
								iaculis adipiscing felis, ac vivamus eleifend ridiculus massa auctor convallis.”</p>
						</blockquote>
						<div class="star-rating mt-auto">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
						</div>
					</div>
				</div>
			</article>
			<article class="card-slider-item">
				<div class="card border-light card-accent-left" data-mh="testimonials-slider">
					<div class="card-body p-19 p-md-20 d-flex flex-column">
						<div class="d-flex align-items-center">
							<img src="assets/new/g.svg" alt="google icon" width="45" class="rounded-circle"/>
							<div class="ml-9">
								<div class="text-black font-weight-medium fs-5 lh-5 mb-4">James B.</div>
								<div class="text-muted fs-3 lh-4">Painting</div>
							</div>
						</div>
						<blockquote class="my-14">
							<p>“Parturient hendrerit pharetra ridiculus eleifend dictumst aenean facilisi, varius etiam
								consequat tempor vivamus lorem suspendisse laoreet, ullamcorper sem volutpat orci tellus
								erat.”</p>
						</blockquote>
						<div class="star-rating mt-auto">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star_half</i>
							<i class="material-icons">star_border</i>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</section>
<!-- "testimonials" section end -->

<!-- "contacts" section start -->
<section id="contacts">
	<div class="section bg-secondary">
		<div class="section-content container">
			<div class="text-center">
				<small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
					We answer within 24 hours
				</small>
				<h1>Contact Us</h1>
			</div>
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<form action="#" class="row mt-17">
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label for="first_name" class="form-label">First name</label>
								<input type="text" class="form-control" id="first_name"/>
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label for="last_name" class="form-label">Last name</label>
								<input type="text" class="form-control" id="last_name"/>
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label for="phone" class="form-label">Phone</label>
								<input type="text" class="form-control" id="phone"/>
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label for="email" class="form-label">Email</label>
								<input type="text" class="form-control" id="email"/>
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label for="service" class="form-label">Select the service</label>
								<select class="custom-select" id="service">
									<option value="1">Kitchen Remodeling</option>
									<option value="2">Bathroom Remodeling</option>
									<option value="3">Roofing</option>
									<option value="4">Windows & Doors</option>
								</select>
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label for="zip-code" class="form-label">Your zip code</label>
								<input type="text" class="form-control" id="zip-code"/>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<label for="message" class="form-label">Message</label>
								<textarea id="message" class="form-control" rows="3"></textarea>
							</div>
						</div>
						<div class="col-12 d-flex justify-content-between align-items-center flex-column flex-md-row">
							<div class="form-group form-check mb-9 mb-md-0">
								<input type="checkbox" class="custom-checkbox" id="exampleCheck2" checked/>
								<label class="form-check-label" for="exampleCheck2">
									I've read and agree with the <a href="#">Terms & Policy</a>
								</label>
							</div>
							<div class="form-group mb-0">
								<button class="btn btn-primary btn-lg">Send message</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
